<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="people" class="io.liangwn.spring.bean.People">
        <constructor-arg name="name" value="Tom"/>
        <constructor-arg name="age" value="26"/>
        <constructor-arg name="income" value="15000"/>
    </bean>
</beans>